html, body {
	width: 100%;
	height: 100%;
	font-family: 'Karla', 'Helvetica', sans-serif;
	color: #444949;
	padding-top: 40px;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

#game canvas {
	width: 405px !important;
	height: 720px !important;
	margin: auto;
}

a, a:visited {
	color: #c792ea;
}

footer {
	font-size: 12px;
	padding: 12px;
	margin: auto;
}

@media screen and (max-width: 405px) {

	html, body {
		padding-top: 10px;
	}

	footer {
		max-width: 80%;
	}

}